@model Daterbase2._0.Models.MessageViewModel

@{
    ViewBag.Title = "New Message";
}

<h2> @ViewBag.Title</h2>

@*@using (Html.BeginForm("CreateMessage", "Account", FormMethod.Post, new { @class = "form", role = "form" }))*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <hr />

    <div class="form-group">
        <div class="col-lg-1">
            @Html.LabelFor(m => m.Subject, new { @class = "control-label"})
        </div>
        <div class="col-lg-11 input-lg">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.Subject, htmlAttributes: new { @class = "col-lg-1 control-label"})
        <div class="col-lg-11">
            @Html.TextBoxFor(m => m.Subject, new { HtmlAttributes = new { @class = "form-control" }})
        </div>
    </div>*@

    <br />
    <br />

    <div class="form-group">
        <div class="col-lg-1">
            @Html.LabelFor(m => m.Contents, new { @class = "control-label" })
        </div>
        <div class="col-lg-11 input-lg">
            @Html.TextBoxFor(m => m.Contents, new { @class = "form-control"})
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.Contents, htmlAttributes: new { @class = "col-lg-1 control-label"})
        <div class="col-lg-11 input-lg">
            @Html.TextBoxFor(m => m.Contents, new { HtmlAttributes = new { @class = "form-control" }})
        </div>
    </div>*@

}